.textareaBox {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    flex: 1;
    padding-bottom: 40px;
}
  
.label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
  
.textarea {
    height: auto; 
    padding: 15px;
    border: 1px solid #A0D468;
    border-radius: 10px;
    box-sizing: border-box; 
    overflow-y: auto; 
    resize: none; 
    line-height: 1.5; 
}
