.container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.caption {
  font-size: 14px;
  color: #888;
  margin-bottom: 40px;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 2px;
  margin-bottom: 20px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  width: 33%; 
  background-color: #a3d69c;
  transition: width 0.3s;
}

.listBoxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.listBox {
  width: 48%;
  padding: 20px;
  margin: 5px;
  border-radius: 12px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
}

.listBox img {
  width: 120px; 
  height: 120px; 
  object-fit: cover;
  margin-bottom: 10px;
}

.listBox:hover {
  opacity: 0.85;
  transform: scale(1.02);
}

.selected {
  background-color: #eff6e5;
}

.listBoxTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.listBoxCaption {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.next-button {
  width: 100%;
  padding: 15px;
  background-color: #a3d69c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:disabled {
  background-color: #c5e1a5;
}

.next-button:active {
  background-color: #8bc34a;
}

.input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  margin-top: 20px;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.error {
  color: red;
  font-size: 13px;
}