.container {
  border-radius: 16px;
  border: 0.5px solid #c5c6cc;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  position: relative; 
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.icon {
  color: #a0d468;
}

.title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.desc {
  font-size: 14px;
  line-height: 18px;
  color: #71727a;
}

.caption {
  font-size: 13px;
  line-height: 25px;
  font-weight: 500;
  color: #a0d468;
}

.selected {
  background-color: #eff6e5;
  border-color: #d2f1b1;
}

/* AI 답변 스타일 */
.aiAnswer {
  background-color: rgba(160, 212, 104, 0.1);
  border: 0.5px solid #a0d4681a;
}

/* 사용자 답변 스타일 */
.userAnswer {
  background-color: #fff;
}

.hash {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  border: 1px solid #a0d468;
  border-radius: 100px;
  padding: 5px 10px;
  background-color: #fff;
  color: #a0d468;
  width: 80px;
  text-align: center;
  font-weight: 600;
}

.similarity {
  background-color: #8cc14b;
  color: #fff;
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 100px;
  font-weight: 600;
  margin-left: auto;
}
