.container {
  border-radius: 16px;
  border: 0.5px solid #C5C6CC;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top{
  display: flex;
  gap: 12px;
  align-items: center;
}

.icon{
  color: #A0D468;
}

.title {
  font-size: 14px;
  font-weight: 800;
  padding-bottom: 5px;
}

.desc {
  font-size: 12px;
  color: #71727A;
}

.caption {
  font-size: 10px;
  font-weight: 500;
  color: #A0D468;
}